.navbar-collapse{
    margin-left: 175px;
    padding-right: 100px;
}
body{
    overflow-x: hidden;
}
.navbar_wrapper .navbar{
    position:fixed;
    z-index: 1;
    width: 100%;
}
.contact_btn{
    margin-left: 145px;
}
.navbar-collapse .nav-item{
    padding:5px 10px;

}
.navbar-collapse .nav-item:hover{
    background-color: orange;
}
.slider{
    text-align: center;
    padding-top: 95px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.call_action{
    position: relative;
    margin-top: 100px;
}
.overlay_action_call{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    padding-top: 100px;
    color: white;
    background-attachment: fixed;
}
.slider_heading h1{
    font-weight: 700;
    font-size: 60px;
}
.about_image{
    overflow: hidden;
    padding-top: 20px;
}
.slider_icons{
    padding-top: 40px;
}
.icon_text{
    border: 1px solid gray;
    padding: 30px;
}
.svg-inline--fa {
    color: orange;
    font-size: 30px;
}
.navbar_wrapper{
    color: white;
}
.about_us{
    padding-top: 60px;
}
.features{
    padding-top: 60px;
}
.features_img{
    overflow: hidden;
}
.service{
    padding-top: 60px;
    text-align: center;
}
.service_logo .svg-inline--fa{
    background-color: orange;
    color: black;
    padding: 15px;
    margin-left: 90px;
    display: flex;
    font-size: 29px;
}
.service_part{
    padding: 50px;
    border: 1px solid gray;
    margin: 5px;
}
.logo_slider{
    margin: 90px 0px;
}
.port_img{
    overflow: hidden;
}
.portfolio{
    padding-top: 100px;
}
.provident{
    padding-top: 100px;
}
.provident_text{
    padding-top: 50px;
}
.provident_img{
    overflow: hidden;
}
.carousel-caption img{
    width: 100px;
    border-radius: 100%;
}
.team_slider{
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}
.leader_img{
    box-shadow: 2px 2px 2px gray, -2px -2px 2px gray;
    padding: 10px;
    margin-top: 100px;
}
.leader_image{
    overflow: hidden;
}
img{
	transition-duration: 1s;
	transition-property:transform ;
	transition-timing-function: linear;
}
img:hover{
	transform: scale(1.2);
}
.form{
    padding: 10px 2px;
}
.form input{
    width: 100%;
}
.contact_us{
    padding-top: 100px;
}
.contact_form{
    padding-top: 50px;
}
.gp .svg-inline--fa{
    color: rgba(128, 128, 128, 0.886);
    padding: 2px 5px;
}
.footer{
    background-color: rgb(9, 7, 7);
    color: white;
    padding: 40px 5px;
    margin-top: 100px;
}
.btn:hover{
    transform: translateY(-10px);
}
.portfolio_nav{
    text-align: center;
    padding-left: 350px;
    font-size: 20px;
    margin: 20px 10px;
    background-color: white;
}
.service_part:hover{
    background-color: gray;
    color: white;
}
.icon_text:hover{
    background-color: rgb(85, 57, 4);
    color: white;
    border: 2px solid white;
}